.create {
  background-color: $white;
  padding: 0;
  margin: 0;

  &__container {
    width: 600px;
    height: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    &__name {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-bottom: 20px;

      .name_text {
        font-size: 1.25rem;
      }

      .channel_name {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    &__image {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      height: 250px;

      .image_text {
        position: absolute;
        font-size: 1.25rem;
        height: 250px;
        line-height: 250px;
      }

      .image_container {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 250px;

        img {
          width: 200px;
          border-radius: 50%;
        }

        .upload_button {
          position: absolute;
          bottom: 0;
          right: 0;

          input {
          }
        }
      }
    }

    &__invite {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-bottom: 20px;
      font-size: 1.25rem;
    }

    &__cohosts {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;

      .invited_text {
        font-size: 1.25rem;
        height: 200px;
        line-height: 200px;
      }

      .grid {
        width: 150px;
        height: 100%;

        .cohost_image {
          position: relative;
          width: 140px;
          flex-direction: column;
          border: 1px solid $grayishPink;
          border-radius: 5px;
          background-image: url(/images/snoopdog.jpeg);

          .cohost_name {
            position: absolute;
            overflow: hidden;
            bottom: 20%;
            width: 100%;
            text-align: center;
          }

          .status {
            position: absolute;
            bottom: 5%;
            width: 100%;
            text-align: center;

            .pending {
              margin: 2px;
            }

            .accepted {
              margin: 2px;
            }
          }
        }
      }
    }

    &__interests {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-bottom: 20px;

      .interests_text {
        font-size: 1.25rem;
      }

      .grid {
      }
    }

    &__policy {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-bottom: 20px;

      .text_button {
        font-size: 1.25rem;
      }
    }

    &__save {
      width: 100%;
      height: 45px;
      line-height: 45px;
      margin-bottom: 20px;

      .save {
        font-size: 1.25rem;
      }
    }
  }
}
