.user {
  flex-direction: column;
  padding: 0;
  margin: 0;

  &__container {
    width: 900px;
    height: 350px;
    margin-top: 50px;
    margin-left: auto;
    padding-top: 50px;
    margin-right: auto;
    border-radius: 10px 10px 0 0;

    &__image {
      width: 300px;
      height: 300px;

      .image_container {
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          width: 200px;
          border-radius: 50%;
        }

        .upload_button {
          // 버튼 위치만 정함. 버튼은 global에 있음.
          margin-top: 20px;
          overflow: hidden;
        }
      }
    }

    &__information {
      width: 300px;
      height: 300px;
      flex-direction: column;

      .general {
        margin: 0;
        padding: 0;

        .name_container {
          font-size: 1.5rem;
          align-items: center;
          margin-bottom: 10px;

          span {
            display: inline-block;
            align-items: center;
            margin-right: 5px;
          }
        }

        .email_container {
          font-size: 1.25rem;
          align-items: center;
          margin-bottom: 10px;

          .email {
            display: inline-block;
            align-items: center;
            margin-right: 5px;
          }
        }

        .bio_container {
          .bio_text {
            font-size: 1.25rem;
          }

          .bio_content_edit {
            display: none;
            font-size: 1rem;
            width: 300px;
            resize: none;
            border: 1px solid $grayishPink;
            border-radius: 5px;
            line-height: 1.5;
            padding: 10px;
          }

          .bio_content_saved {
            font-size: 1rem;
            width: 300px;
            line-height: 1.5;
            padding: 10px;
            z-index: 10;
          }
        }

        .change {
          display: inline-block;
          align-items: center;
          margin: auto 0;
        }
      }
    }

    &__interests {
      width: 300px;
      height: 300px;
      flex-direction: column;

      .image_container {
        flex-direction: column;
        width: 200px;
        margin: 0 auto;

        .interest_image {
          height: 60px;
          border-radius: 5px;
          border: 1px solid $grayishPink;
          background-color: $grayishPink;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 8.5px;

          h2 {
            display: block;
            margin: auto 0;
            color: $white;
          }
        }

        .button_container {
          display: flex;
          flex-direction: column;
          position: relative;

          .change_interest {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  &__container2 {
    width: 900px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

    &__channel {
      width: 900px;
      min-height: 200px;
      margin-left: auto;
      margin-right: auto;

      &__search {
        width: 280px;
        margin: 0 auto;

        .search_channel_text {
          margin-bottom: 10px;
          font-size: 1.25rem;
        }

        .recommended_channel {
          a {
            color: $grayishPink;
            transition: color 300ms ease-in-out;

            &:hover {
              color: $grayishBlue;
            }
          }
        }

        .search_channel_button {
          margin-top: 20px;
          text-align: right;
        }
      }

      &__open {
        width: 280px;
        margin: 0 auto;

        .open_channel_text {
          margin-bottom: 10px;
          font-size: 1.25rem;
        }

        .trending_channel {
          a {
            color: $grayishPink;
            transition: color 300ms ease-in-out;

            &:hover {
              color: $grayishBlue;
            }
          }
        }

        .open_channel_button {
          margin-top: 20px;
          text-align: right;
        }
      }

      &__my_channel {
        width: 280px;
        margin: 0 auto;

        .my_channel_text {
          margin-bottom: 10px;
          font-size: 1.25rem;
        }

        .my_channel {
          a {
            color: $grayishPink;
            transition: color 300ms ease-in-out;

            &:hover {
              color: $grayishBlue;
            }
          }
        }
      }
    }
  }

  &__container3 {
    width: 900px;
    height: 300px;
    top: 0;
    margin-right: auto;
    margin-left: auto;

    &__subscribe {
      width: 425px;
      margin: 0 auto;
      flex-direction: column;

      .subscribe_text {
        margin-bottom: 10px;
        font-size: 1.25rem;
      }

      .subscribe_item {
        .subscribe_title {
        }

        .subscribe_buttons {
          .view_subscribe {
            margin-right: 5px;

            &::after {
              content: "or";
              text-indent: 5px;
              color: $brightBlue;
            }
          }
        }
      }

      .more {
        text-align: right;
        margin-top: 10px;
      }

      a {
        color: $grayishPink;
        transition: color 300ms ease-in-out;

        &:hover {
          color: $grayishBlue;
        }
      }
    }

    &__notification {
      width: 425px;
      margin: 0 auto;
      flex-direction: column;

      .notification_text {
        margin-bottom: 10px;
        font-size: 1.25rem;
      }

      .notification_item {
        .notification_title {
        }

        .notification_buttons {
          .view_notification {
            margin-right: 5px;

            &::after {
              content: "or";
              text-indent: 5px;
              color: $brightBlue;
            }
          }
        }
      }

      .more {
        text-align: right;
        margin-top: 10px;
      }

      a {
        color: $grayishPink;
        transition: color 300ms ease-in-out;

        &:hover {
          color: $grayishBlue;
        }
      }
    }
  }

  &__container4 {
    width: 900px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;
  }
}
