// Colors
$grayishPink: #C17BDA;
$black: #282529;
$grayishBlue: #7fbedb;
$white: #f8fbff;
$lightGray: #cccccc;
$brightBlue: #82cdff;

// Font Sizes (default: 16px)
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;