html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #C17BDA;
  line-height: 1.3;
  background-color: #464347;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.15;
  color: #C17BDA;
}

h1 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.buffer {
  display: block;
  height: 100px;
}

.buffer_brighterBlack_bg_mid {
  display: block;
  width: 100%;
  background-color: #464347;
  border-radius: 0 0 10px 10px;
  height: 100px;
}

.buffer_brighterBlack_bg_end {
  display: block;
  width: 100%;
  background-color: #464347;
  border-radius: 10px;
  height: 100px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.container--pall {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.container--py {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--px {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.container--pt {
  padding-top: 4.375rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_box {
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
  border: 2px solid #C17BDA;
  border-radius: 5px;
}

.button_filled_med {
  display: inline-block;
  position: relative;
  padding: 1rem 4rem;
  border: 1px solid #C17BDA;
  background-color: #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #cccccc;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.button_filled_med:hover {
  color: #C17BDA;
  background-color: transparent;
  border-color: #C17BDA;
}

.button_filled_sm {
  display: inline-block;
  position: relative;
  padding: 0.6875rem 2.25rem;
  border: 1px solid #C17BDA;
  background-color: #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #cccccc;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.button_filled_sm:hover {
  color: #C17BDA;
  background-color: transparent;
  border-color: #C17BDA;
}

.button_empty_med {
  display: inline-block;
  position: relative;
  padding: 1rem 4rem;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #C17BDA;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.button_empty_med:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.button_empty_sm {
  display: inline-block;
  position: relative;
  padding: 0.6875rem 2.25rem;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #C17BDA;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.button_empty_sm:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.submit_button_empty_med {
  display: inline-block;
  position: relative;
  padding: 0.6875rem 2.25rem;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #C17BDA;
  font-weight: 400;
  text-align: center;
  background-color: #f8fbff;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.submit_button_empty_med:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.image_upload_button {
  position: relative;
  overflow: hidden;
  width: 165px;
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  background-color: #464347;
  color: #C17BDA;
  font-weight: 400;
  text-align: center;
  -webkit-transition: color 500ms ease-in-out, background-color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.image_upload_button input {
  position: absolute;
  top: 0;
  left: 100px;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image_upload_button:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.image_upload_button_np {
  overflow: hidden;
  width: 165px;
  display: inline-block;
  position: relative;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #C17BDA;
  font-weight: 400;
  text-align: center;
  -webkit-transition: color 500ms ease-in-out, background-color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.image_upload_button_np input {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  opacity: 0;
  width: 165px;
  height: 39.8;
  cursor: pointer;
  border: 1px solid red;
}

.image_upload_button_np:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.setting_change_button {
  display: inline-block;
  position: relative;
  padding: 0.2rem 1rem;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #C17BDA;
  font-size: 0.5rem;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.setting_change_button:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.search_button {
  display: inline-block;
  position: relative;
  padding: 0.2rem 1rem;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  cursor: pointer;
  color: #C17BDA;
  font-size: 0.5rem;
  font-weight: 400;
  text-align: center;
  -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out, border-color 500ms ease-in-out;
  white-space: nowrap;
}

.search_button:hover {
  color: #f8fbff;
  background-color: #C17BDA;
  border-color: #C17BDA;
}

.text_button_med {
  color: #C17BDA;
  cursor: pointer;
  padding: 3px 6px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.text_button_med:hover {
  color: #7fbedb;
}

.text_button_sm {
  color: #C17BDA;
  cursor: pointer;
  padding: 3px 6px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.text_button_sm:hover {
  color: #7fbedb;
}

.text_button_sm_normal {
  color: #C17BDA;
  padding: 3px 6px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.text_button_sm_normal:hover {
  color: #7fbedb;
}

.text_input {
  margin-bottom: 20px;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #C17BDA;
}

.text_input:focus {
  outline: none;
  color: #C17BDA;
  line-height: 1.5;
  background-color: #7fbedb;
}

.thumbnail_text_background {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #82cdff;
  display: inline;
  padding: 5px;
  opacity: 0.5;
}

.thumbnail_text {
  width: 100px;
  height: 30px;
  margin: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #282529;
  display: inline;
  padding: 5px;
  font-weight: 400;
}

.channel_name {
  position: relative;
  width: 100%;
  height: 1.15rem;
  margin: 5px;
}

.channel_name span {
  position: absolute;
  left: 0;
  font-size: 1.15rem;
}

.topic {
  position: relative;
  width: 100%;
  height: 1.15rem;
  margin: 5px;
}

.topic span {
  position: absolute;
  left: 0;
  font-size: 1.15rem;
}

.interest_category {
  position: relative;
  width: 100%;
  height: 0.9rem;
  margin: 3px;
}

.interest_category span {
  position: absolute;
  left: 0;
  font-size: 0.9rem;
}

.viewers {
  position: relative;
  width: 100%;
  height: 0.7rem;
  margin: 3px;
}

.viewers span {
  position: absolute;
  left: 0;
  font-size: 0.9rem;
}

.language {
  position: relative;
  width: 100%;
  height: 0.8rem;
  margin: 3px;
}

.language span {
  position: absolute;
  left: 0;
  font-size: 0.6rem;
  background-color: #cccccc;
  padding: 2px 6px;
  border-radius: 2px;
}

.header {
  background-color: #C17BDA;
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo {
  position: absolute;
  width: 7.625rem;
  height: 2rem;
}

.header__logo a svg path {
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.header__logo a:hover svg path {
  fill: #7fbedb;
}

.header__menu {
  position: relative;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #cccccc;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__menu a:not(:last-child) {
  margin-right: 3rem;
}

.header__menu a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  color: #cccccc;
  left: 0;
  right: 0;
  bottom: -1.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(#82cdff), to(#7fbedb));
  background: linear-gradient(to right, #82cdff 0%, #7fbedb 100%);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__menu a:hover, .header__menu a:active {
  color: #282529;
}

.header__menu a:hover::before, .header__menu a:active::before {
  opacity: 1;
}

.hero {
  position: relative;
}

.hero__video__content {
  max-width: 100%;
  position: relative;
}

.hero__video__content .btn_play_stop {
  position: absolute;
  display: block;
  background-color: none;
}

.hero__video__content h1 {
  position: absolute;
  display: block;
  bottom: 20%;
  white-space: normal;
  overflow: hidden;
}

.hero__video__content video {
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero__video__content .login {
  position: absolute;
  display: block;
  top: 20px;
  right: 160px;
}

.hero__video__content .signup {
  position: absolute;
  display: block;
  top: 20px;
  right: 30px;
}

.hero__video__content .joinus_today {
  position: absolute;
  display: block;
  bottom: 10%;
}

.hero__discover__content {
  max-width: 100%;
  position: relative;
  height: 600px;
}

.hero__discover__content .title {
  position: absolute;
  width: 50%;
  top: 5rem;
  left: 1.5rem;
}

.hero__discover__content .title h1 {
  font-style: bold;
  font-weight: 600;
  color: #7fbedb;
}

.hero__discover__content .step1 {
  position: absolute;
  top: 10rem;
  left: 1.5rem;
  width: 50%;
}

.hero__discover__content .step1 h2 {
  font-style: bold;
  font-weight: 600;
  padding-right: 2rem;
}

.hero__discover__content .step1 p {
  color: #7fbedb;
  padding-right: 2rem;
}

.hero__discover__content .step1 .learn_more {
  margin-bottom: 30px;
  padding-right: 2rem;
}

.hero__discover__content .step1 .learn_more:last-child {
  margin-bottom: 0;
}

.hero__discover__content .step2 {
  position: absolute;
  top: 10rem;
  right: 1.5rem;
  width: 50%;
}

.hero__discover__content .step2 h2 {
  font-style: bold;
  font-weight: 600;
  padding-left: 2rem;
}

.hero__discover__content .step2 p {
  color: #7fbedb;
  padding-left: 2rem;
}

.hero__discover__content .step2 .learn_more {
  margin-bottom: 30px;
  padding-left: 2rem;
}

.hero__discover__content .step2 .learn_more:last-child {
  margin-bottom: 0;
}

.hero__desc1__content {
  max-width: 100%;
  position: relative;
  height: 600px;
}

.hero__desc1__content .image_container {
  width: 50%;
  position: absolute;
  left: 3rem;
  padding-right: 5rem;
}

.hero__desc1__content .image_container .image {
  width: 100%;
  height: 440px;
  background-image: url("/images/image-confetti.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.hero__desc1__content .image_desc {
  width: 50%;
  position: absolute;
  right: 1.5rem;
}

.hero__desc1__content .image_desc h2 {
  font-style: bold;
  font-weight: 600;
  padding-left: 2rem;
}

.hero__desc1__content .image_desc p {
  color: #7fbedb;
  padding-left: 2rem;
}

.hero__desc1__content .image_desc .learn_more {
  margin-bottom: 30px;
  padding-left: 2rem;
}

.hero__desc1__content .image_desc .learn_more:last-child {
  margin-bottom: 0;
}

.hero__desc2__content {
  max-width: 100%;
  position: relative;
  height: 600px;
}

.hero__desc2__content .image_container {
  width: 50%;
  position: absolute;
  right: 3rem;
  padding-left: 5rem;
}

.hero__desc2__content .image_container .image {
  width: 100%;
  height: 440px;
  background-image: url("/images/image-confetti.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.hero__desc2__content .image_desc {
  width: 50%;
  position: absolute;
  left: 1.5rem;
}

.hero__desc2__content .image_desc h2 {
  font-style: bold;
  font-weight: 600;
  padding-right: 2rem;
}

.hero__desc2__content .image_desc p {
  color: #7fbedb;
  padding-right: 2rem;
}

.hero__desc2__content .image_desc .learn_more {
  margin-bottom: 30px;
  padding-right: 2rem;
}

.hero__desc2__content .image_desc .learn_more:last-child {
  margin-bottom: 0;
}

.hero__partners__content {
  max-width: 100%;
  position: relative;
  height: 738px;
}

.hero__partners__content .title {
  width: 100%;
  text-align: center;
}

.hero__partners__content .title h1 {
  font-style: bold;
  font-weight: 600;
}

.hero__partners__content .title p {
  font-style: bold;
  font-weight: 600;
}

.hero__partners__content .image_container1 {
  width: 100%;
  position: absolute;
  top: 40%;
}

.hero__partners__content .image_container1 .partner_image {
  width: 173px;
  height: 76px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#cccccc));
  background-image: linear-gradient(to right, #cccccc 0%, #cccccc 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 10px 5px;
  position: relative;
}

.hero__partners__content .image_container1 .partner_image::before {
  content: "Partner";
  font-size: 2rem;
  color: #282529;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__partners__content .image_container2 {
  width: 100%;
  position: absolute;
  top: 55%;
}

.hero__partners__content .image_container2 .partner_image {
  width: 173px;
  height: 76px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#cccccc));
  background-image: linear-gradient(to right, #cccccc 0%, #cccccc 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 10px 5px;
  position: relative;
}

.hero__partners__content .image_container2 .partner_image::before {
  content: "Partner";
  font-size: 2rem;
  color: #282529;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__partners__content .join_us {
  position: absolute;
  display: block;
  bottom: 12%;
}

.hero__contact_us__content {
  max-width: 100%;
  position: relative;
  height: 340px;
  background-color: #464347;
}

.hero__contact_us__content .title {
  width: 100%;
}

.hero__contact_us__content .join_today {
  margin-left: 10px;
}

.hero__contact_us__content .contact_us {
  margin-left: 10px;
}

.footer__content {
  max-width: 100%;
  position: relative;
  height: 400px;
}

.footer__content__info div a {
  display: inline-block;
  color: #C17BDA;
  text-align: center;
  font-weight: 600;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.footer__content__info div a:hover {
  color: #7fbedb;
}

.footer__content__divider {
  margin-top: 48px;
  border-bottom: 1px solid #282529;
}

.footer__content__social {
  margin-top: 48px;
}

.footer__content__social div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.footer__content__social div a svg path {
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.footer__content__social div a:hover svg path {
  fill: #7fbedb;
}

.footer__content__copyright {
  margin-top: 48px;
  color: #282529;
}

.signup {
  position: relative;
}

.signup__image {
  width: 70%;
  height: 960px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#cccccc));
  background-image: linear-gradient(to right, #cccccc 0%, #cccccc 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.signup__image::before {
  content: "Image";
  font-size: 5rem;
  color: #282529;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.signup__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__form h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.signup__form form {
  font-size: 1.5rem;
  font-weight: 600;
}

.signup__form form div label {
  margin-bottom: 10px;
}

.signup__form p {
  margin: 0;
  padding: 0;
}

.signup__form p .terms,
.signup__form p .newsletter {
  color: #C17BDA;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.signup__form p .terms:hover,
.signup__form p .terms :active,
.signup__form p .newsletter:hover,
.signup__form p .newsletter :active {
  color: #7fbedb;
}

.signup__form p input[type=":checked"] {
  background-color: #C17BDA;
}

.signup__form p a {
  color: #C17BDA;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.signup__form p a:hover,
.signup__form p a :active {
  color: #7fbedb;
}

.signup__form .signup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup__form .social {
  margin-top: 20px;
}

.signup__form .social div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.signup__form .social div a svg path {
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.signup__form .social div a:hover svg path {
  fill: #7fbedb;
}

.signup {
  position: relative;
}

.signup__image {
  width: 70%;
  height: 960px;
  background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#cccccc));
  background-image: linear-gradient(to right, #cccccc 0%, #cccccc 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.signup__image::before {
  content: "Image";
  font-size: 5rem;
  color: #282529;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.signup__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__form h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.signup__form form {
  font-size: 1.5rem;
  font-weight: 600;
}

.signup__form form div label {
  margin-bottom: 10px;
}

.signup__form .login {
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup__form .social {
  margin-top: 20px;
}

.signup__form .social div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.signup__form .social div a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.signup__form .social div a svg path {
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.signup__form .social div a:hover svg path {
  fill: #7fbedb;
}

.user {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.user__container {
  width: 900px;
  height: 350px;
  margin-top: 50px;
  margin-left: auto;
  padding-top: 50px;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  background-color: #464347;
}

.user__container__image {
  width: 300px;
  height: 300px;
}

.user__container__image .image_container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.user__container__image .image_container img {
  width: 200px;
  border-radius: 50%;
}

.user__container__image .image_container .upload_button {
  margin-top: 20px;
  overflow: hidden;
}

.user__container__information {
  width: 300px;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__container__information .general {
  margin: 0;
  padding: 0;
}

.user__container__information .general .name_container {
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.user__container__information .general .name_container span {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.user__container__information .general .email_container {
  font-size: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.user__container__information .general .email_container .email {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.user__container__information .general .bio_container .bio_text {
  font-size: 1.25rem;
}

.user__container__information .general .bio_container .bio_content_edit {
  display: none;
  font-size: 1rem;
  width: 300px;
  resize: none;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  line-height: 1.5;
  padding: 10px;
}

.user__container__information .general .bio_container .bio_content_saved {
  font-size: 1rem;
  width: 300px;
  line-height: 1.5;
  padding: 10px;
  z-index: 10;
}

.user__container__information .general .change {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

.user__container__interests {
  width: 300px;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__container__interests .image_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.user__container__interests .image_container .interest_image {
  height: 60px;
  border-radius: 5px;
  border: 1px solid #C17BDA;
  background-color: #C17BDA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8.5px;
}

.user__container__interests .image_container .interest_image h2 {
  display: block;
  margin: auto 0;
  color: #f8fbff;
}

.user__container__interests .image_container .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.user__container__interests .image_container .button_container .change_interest {
  position: absolute;
  top: 0;
  right: 0;
}

.user__container2 {
  width: 900px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #464347;
}

.user__container2__channel {
  width: 900px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.user__container2__channel__search {
  width: 280px;
  margin: 0 auto;
}

.user__container2__channel__search .search_channel_text {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.user__container2__channel__search .recommended_channel a {
  color: #C17BDA;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.user__container2__channel__search .recommended_channel a:hover {
  color: #7fbedb;
}

.user__container2__channel__search .search_channel_button {
  margin-top: 20px;
  text-align: right;
}

.user__container2__channel__open {
  width: 280px;
  margin: 0 auto;
}

.user__container2__channel__open .open_channel_text {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.user__container2__channel__open .trending_channel a {
  color: #C17BDA;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.user__container2__channel__open .trending_channel a:hover {
  color: #7fbedb;
}

.user__container2__channel__open .open_channel_button {
  margin-top: 20px;
  text-align: right;
}

.user__container2__channel__my_channel {
  width: 280px;
  margin: 0 auto;
}

.user__container2__channel__my_channel .my_channel_text {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.user__container2__channel__my_channel .my_channel a {
  color: #C17BDA;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.user__container2__channel__my_channel .my_channel a:hover {
  color: #7fbedb;
}

.user__container2__channel__my_channel .my_channel_button {
  margin-top: 20px;
  text-align: right;
}

.user__container3 {
  width: 900px;
  height: 300px;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #464347;
}

.user__container3__subscribe {
  width: 425px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__container3__subscribe .subscribe_text {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.user__container3__subscribe .subscribe_item .subscribe_buttons .view_subscribe {
  margin-right: 5px;
}

.user__container3__subscribe .subscribe_item .subscribe_buttons .view_subscribe::after {
  content: "or";
  text-indent: 5px;
  color: #82cdff;
}

.user__container3__subscribe .more {
  text-align: right;
  margin-top: 10px;
}

.user__container3__subscribe a {
  color: #C17BDA;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.user__container3__subscribe a:hover {
  color: #7fbedb;
}

.user__container3__notification {
  width: 425px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__container3__notification .notification_text {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.user__container3__notification .notification_item .notification_buttons .view_notification {
  margin-right: 5px;
}

.user__container3__notification .notification_item .notification_buttons .view_notification::after {
  content: "or";
  text-indent: 5px;
  color: #82cdff;
}

.user__container3__notification .more {
  text-align: right;
  margin-top: 10px;
}

.user__container3__notification a {
  color: #C17BDA;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.user__container3__notification a:hover {
  color: #7fbedb;
}

.user__container4 {
  width: 900px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #464347;
  border-radius: 0 0 10px 10px;
}

.create {
  padding: 0;
  margin: 0;
}

.create__container {
  width: 900px;
  height: 1250px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__container__name {
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: #464347;
  border-radius: 10px 10px 0 0;
}

.create__container__name .name_text {
  font-size: 1.25rem;
  width: 150px;
  margin-left: 90px;
}

.create__container__name .channel_name {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 20px;
}

.create__container__image {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #464347;
}

.create__container__image .image_text {
  position: absolute;
  font-size: 1.25rem;
  height: 300px;
  line-height: 300px;
  width: 150px;
  margin-left: 90px;
}

.create__container__image .image_container {
  position: absolute;
  top: 25px;
  left: 210px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  margin-left: 50px;
}

.create__container__image .image_container .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("/images/snoopdog.jpeg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.create__container__image .image_container .upload_button {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.create__container__invite {
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-size: 1.25rem;
  padding-left: 90px;
  background-color: #464347;
}

.create__container__cohosts {
  width: 100%;
  height: 250px;
  background-color: #464347;
}

.create__container__cohosts .invited_text {
  font-size: 1.25rem;
  width: 150px;
  height: 250px;
  line-height: 250px;
  margin-left: 90px;
}

.create__container__cohosts .grid_container {
  position: relative;
  width: 550px;
  margin-left: 20px;
}

.create__container__cohosts .grid_container .grid {
  position: absolute;
  top: 25px;
  width: 550px;
  height: 200px;
}

.create__container__cohosts .grid_container .grid .cohost_image_container {
  position: relative;
  width: 170px;
  height: 200px;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .cohost_image {
  position: relative;
  width: 170px;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #C17BDA;
  border-radius: 5px;
  background-image: url(/images/snoopdog.jpeg);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .cohost_image:hover {
  opacity: 0.7;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .cohost_name {
  position: absolute;
  overflow: hidden;
  bottom: 20%;
  border-radius: 4px;
  margin: 3px;
  background-color: #282529;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
  z-index: 10;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .cohost_name:hover {
  background-color: #C17BDA;
  cursor: normal;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .status {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .status .change {
  border-radius: 4px;
  margin: 2px;
  background-color: #282529;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .status .change:hover {
  background-color: #C17BDA;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .status .remove {
  border-radius: 4px;
  margin: 2px;
  background-color: #282529;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.create__container__cohosts .grid_container .grid .cohost_image_container .status .remove:hover {
  background-color: #C17BDA;
}

.create__container__interests {
  width: 100%;
  height: 300px;
  line-height: 300px;
  background-color: #464347;
}

.create__container__interests .interests_text {
  font-size: 1.25rem;
  width: 150px;
  height: 300px;
  margin-left: 90px;
}

.create__container__interests .grid {
  position: relative;
  margin-left: 20px;
  width: 550px;
  height: 300px;
}

.create__container__interests .grid_container {
  position: absolute;
  top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__container__interests .grid_container .interest_image {
  height: 60px;
  width: 550px;
  border-radius: 5px;
  border: 1px solid #C17BDA;
  background-color: #C17BDA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.create__container__interests .grid_container .interest_image h2 {
  display: block;
  margin: auto 0;
  color: #f8fbff;
}

.create__container__interests .grid_container .more {
  height: 60px;
  text-align: center;
}

.create__container__interests .grid_container .more h2 {
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
}

.create__container__policy {
  width: 100%;
  height: 90px;
  line-height: 90px;
  padding-left: 90px;
  background-color: #464347;
  font-size: 1.25rem;
}

.create__container__save {
  width: 100%;
  height: 90px;
  line-height: 90px;
  padding-left: 90px;
  background-color: #464347;
  font-size: 1.25rem;
  border-radius: 0 0 5px 5px;
}

.subscribes {
  padding: 0;
  margin: 0;
}

.subscribes__container {
  width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #464347;
}

.subscribes__container .subscribing_text {
  padding: 0 30px 0 30px;
  font-size: 2.5rem;
  font-weight: 600;
  height: 100px;
}

.subscribes__container .subscribe_menu {
  padding: 0 30px 0 30px;
  width: 70%;
  height: 80px;
}

.subscribes__container .subscribe_menu span {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}

.subscribes__container .subscribe_menu span::before {
  content: "";
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -21px;
  left: 0;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#82cdff), to(#7fbedb));
  background: linear-gradient(to right, #82cdff 0%, #7fbedb 100%);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.subscribes__container .subscribe_menu span:hover::before {
  opacity: 1;
}

.subscribes__container .live_channel {
  padding: 0 30px 0 30px;
}

.subscribes__container .live_channel__text {
  position: relative;
  width: 100%;
  height: 80px;
}

.subscribes__container .live_channel__text::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  display: block;
  background-color: #82cdff;
  opacity: 1;
}

.subscribes__container .live_channel__text span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #7fbedb;
}

.subscribes__container .live_channel__container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  border: 1px solid #7fbedb;
  border-radius: 10px;
}

.subscribes__container .live_channel__container__grid {
  width: 100%;
  height: 310px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribes__container .live_channel__container__grid .thumbnail {
  width: 280px;
  height: 270px;
  border: 1px solid #C17BDA;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

.subscribes__container .live_channel__container__grid .thumbnail .thumbnail_box {
  position: relative;
  width: 260px;
  height: 170px;
  background-image: url(/images/image-confetti.jpg);
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribes__container .live_channel__container__grid .thumbnail .thumbnail_box .background {
  position: absolute;
  left: 5px;
  top: 5px;
}

.subscribes__container .live_channel__container__grid .thumbnail .thumbnail_box .viewer {
  position: absolute;
  left: 5px;
  top: 5px;
}

.subscribes__container .live_channel__container__show_more {
  text-align: center;
  height: 50px;
}

.subscribes__container .latest_video {
  padding: 0 30px 0 30px;
}

.subscribes__container .latest_video__text {
  position: relative;
  width: 100%;
  height: 80px;
}

.subscribes__container .latest_video__text::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  display: block;
  background-color: #C17BDA;
  opacity: 1;
}

.subscribes__container .latest_video__text span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #C17BDA;
}

.subscribes__container .latest_video__container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  border: 1px solid #C17BDA;
  border-radius: 10px;
}

.subscribes__container .latest_video__container__grid {
  width: 100%;
  height: 310px;
  border-radius: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribes__container .latest_video__container__grid .thumbnail {
  width: 280px;
  height: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #7fbedb;
  border-radius: 10px;
  padding: 10px 20px;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box {
  width: 260px;
  height: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/images/image-plane.jpg");
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  position: relative;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box .playtime_background {
  position: absolute;
  top: 5px;
  left: 5px;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box .playtime {
  position: absolute;
  top: 5px;
  left: 5px;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box .views_background {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box .views {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box .age_background {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.subscribes__container .latest_video__container__grid .thumbnail .thumbnail_box .age {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.subscribes__container .latest_video__container__show_more {
  text-align: center;
  height: 50px;
}

.subscribes__container .trending {
  padding: 0 30px 0 30px;
}

.subscribes__container .trending__text {
  position: relative;
  width: 100%;
  height: 80px;
}

.subscribes__container .trending__text::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  display: block;
  background-color: #82cdff;
  opacity: 1;
}

.subscribes__container .trending__text span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #7fbedb;
}

.subscribes__container .trending__container {
  width: 100%;
  height: 100%;
  border: 1px solid #C17BDA;
  border-radius: 10px;
}

.subscribes__container .trending__container__grid {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribes__container .trending__container__grid .thumbnail {
  border: 1px solid #7fbedb;
  border-radius: 10px;
  width: 270px;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

.subscribes__container .trending__container__grid .thumbnail .thumbnail_box {
  width: 250px;
  height: 380px;
  background-image: url("/images/among_us.png");
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribes__container .trending__container__show_more {
  text-align: center;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */